<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil</title>
    <link rel="stylesheet" href="/css/board.css">
</head>
<body>
    <h1>Tableau de Bord</h1>
    <div class="container">
        <a href="/participant">Gestion Participant</a>
        <a href="/formateur">Gestion Formateur</a>
        <a href="/domaine">Gestion Domaine</a>
        <a href="/profil">Gestion Profil</a>
        <a href="/formation">Gestion Formations</a>
    </div>
    <div class="logout">
        <form action="/logout" method="POST">
            <button type="submit" id="deconnexion">Déconnexion</button>
        </form>
    </div>
</body>
</html>