<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil - Gestion CRUD</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body> 
  <div class="cont">
    <h1>EXCELLENT TRAINING🦅</h1>
</div>
    <div class="container">
      <header>
        <h1>Bienvenue sur l'application de gestion</h1>
        <p>Gérez vos participants et formateurs facilement</p>
      </header>
      <main>
        <div class="buttons">
          <a href="/login" class="btn">Login</a>
          <a href="/signin" class="btn">Sign In</a>
        </div>
      </main>
      <footer>
        <p>&copy; 2025 - Application CRUD</p>
        <p> Made by LMG Design Studio</p>
      </footer>
    </div>
  
</body>
</html>
